force-app/main/default/flows/NKS_Chat_Send_NAV_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Post_Oppgave</name>
        <label>Post Oppgave</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <actionName>OppgaveManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Verify_Task_Post</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>aktoerId</name>
            <value>
                <elementReference>Get_Thread.CRM_Account__r.CRM_Person__r.INT_ActorId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>behandlingstema</name>
            <value>
                <elementReference>Theme_Categorization.subthemeCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>behandlingstype</name>
            <value>
                <elementReference>Theme_Categorization.subtypeCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>beskrivelse</name>
            <value>
                <elementReference>Task_Description</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eksternHenvendelseId</name>
            <value>
                <elementReference>Henvendelse_BehandlingsId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>methodType</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oppgavetype</name>
            <value>
                <elementReference>Task_Type_Selector.selectedTaskType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opprettetAvEnhetsnr</name>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>prioritet</name>
            <value>
                <elementReference>Task_Priority</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tema</name>
            <value>
                <elementReference>Theme_Categorization.themeCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tildeltEnhetsnr</name>
            <value>
                <elementReference>Work_Allocation.selectedUnitNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tilordnetRessurs</name>
            <value>
                <elementReference>Work_Allocation.assignedResource</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OppgaveManager</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Publish_Notification_To_True</name>
        <label>Set Publish Notification To True</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Publish_Notification</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_If_Has_Thread</name>
        <label>Check If Has Thread</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>No_Account_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Thread</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Thread.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAV_Task_Input_Screen</targetReference>
            </connector>
            <label>Has Thread</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Task_Post</name>
        <label>Verify Task Post</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Post_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Post Error</defaultConnectorLabel>
        <rules>
            <name>Successful_Post</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Oppgave.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Publish_Notification_To_True</targetReference>
            </connector>
            <label>Successful Post</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Priority_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_Priority__c</picklistField>
        <picklistObject>NavTask__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Henvendelse_BehandlingsId</name>
        <dataType>String</dataType>
        <expression>IF(
    {!Theme_Categorization.themeCode} &lt;&gt; &quot;KOM&quot;,
    {!Get_Thread.CRM_API_Reference__c},
    &quot;&quot;
)</expression>
    </formulas>
    <interviewLabel>NKS Chat Send NAV Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NKS Chat Send NAV Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Query the thread to relate the NAV Task to.</description>
        <name>Get_Thread</name>
        <label>Get Thread</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Has_Thread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Related_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>NAV_Task_Input_Screen</name>
        <label>NAV Task Input Screen</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Post_Oppgave</targetReference>
        </connector>
        <fields>
            <name>Theme_Categorization</name>
            <extensionName>c:crmThemeCategorization</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>themeGroup</name>
                <value>
                    <elementReference>Get_Thread.CRM_Theme_Group__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>themeSet</name>
                <value>
                    <stringValue>ALL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>theme</name>
                <value>
                    <elementReference>Get_Thread.CRM_Theme__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>HIDE_THEME_GROUP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autoFocus</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>checkIfGjelderIsRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Task_Type_Selector</name>
            <extensionName>c:crmTaskTypePicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showcomponent</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>theme</name>
                <value>
                    <elementReference>Get_Thread.CRM_Theme_Code__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Task_Priority</name>
            <choiceReferences>Priority_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>LAV</stringValue>
            </defaultValue>
            <fieldText>Prioritet</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Task_Description</name>
            <fieldText>Oppgave til NAV-enhet</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Husk at oppgavebeskrivelsen ikke skal inneholde personsensitive opplysninger!&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Work_Allocation</name>
            <extensionName>c:crmNavTaskWorkAllocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hideDelegateToSelf</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableConditionalRendering</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>personId</name>
                <value>
                    <elementReference>Get_Thread.CRM_Account__r.CRM_Person__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Opprett oppgave</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Account_Screen</name>
        <label>No Account Screen</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Account_Error_Screen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Brukeren må være logget inn for at du skal kunne opprette oppgave.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Post_Error_Screen</name>
        <label>Post Error Screen</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Heasder</name>
            <extensionName>c:nksHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>input</name>
                <value>
                    <stringValue>Feil ved opprettelse av oppgave</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Post_Error_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;Oppgaveopprettelse feilet med feilmelding: {!Post_Oppgave.errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Post_Oppgave.isSuccess</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Post_Oppgave.isRetry</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Post_Error_Text_Not4xx</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Oppgaveopprettelse feilet med feilmelding: &lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Post_Oppgave.errorMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;En utvikler har fått beskjed og vil feilsøke dette.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Oppgaven vil bli automatisk rekjørt på et senere tidspunkt.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Post_Oppgave.isSuccess</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Post_Oppgave.isRetry</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Thread</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The NAV task record to perform the action on.</description>
        <name>NavTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>NavTask__c</objectType>
    </variables>
    <variables>
        <name>Publish_Notification</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Record ID if the flow is called with a reference to an existing NAV task.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
